body {
    background: url('https://odis.homeaway.com/odis/listing/65d6eedc-8953-4575-8746-2a13e6d205e2.c10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    text-align: center;
    width: 700px;
    margin: 25px auto;
    padding: 10px;
    font-family: 'Notable', sans-serif;
    color: white;
    background-color: maroon;
    opacity: .7;
    border-color: grey;
    border-style: dashed;
  }
  
  #myTomagotchiPic {
    width: 200px;
    height: auto;
    margin: 10px;
    border-color: black;
    border-style: dotted;
    border-radius: 75px;
  }

  .metrics {
    text-align: center;
    position: center; 
    color: white;
    font-family: 'Notable', sans-serif;
    font-size: 20px;
    margin: 25px auto;
    padding: 10px;
    width: 600px;
    background-clip: padding-box;
    background-color: black;
    border-color: grey;
    border-style: dashed;
    opacity: .8;
  }

  #hunger {
    margin: 10px;
  }

  #sleepiness {
    margin: 10px;
  }

  #boredom {
    margin: 10px;
  }

  .timerSpace {
    color: black;
    font-family: 'Notable', sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    color: red;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
  }

  .metricButtons {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
  }

  #feed {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: 'Notable', sans-serif;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
    margin: 10px;
  }

  #lights {
    width: 350px;
    height: 50px;
    font-size: 18px;
    font-family: 'Notable', sans-serif;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
    margin: 10px;
  }

  #play {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: 'Notable', sans-serif;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
    margin: 10px;
  }

  input {
    font-family: 'Notable', sans-serif;
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 18px;
    opacity: .8;
  }

  h2 {
    font-family: 'Notable', sans-serif;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
  }

  #enterName {
    font-family: 'Notable', sans-serif;
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    /* margin: 10px;
    padding: 10px; */
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
  }

  .nameTomagotchi {
    text-align: center;
  }

  #name {
    font-family: 'Notable', sans-serif;
    font-style: bold;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
  }

  #age {
    font-family: 'Notable', sans-serif;
    font-style: bold;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    opacity: .8;
    border-color: grey;
    border-style: dashed;
  }


