body {
    /* background: url('http://www.lord-of-the-rings.org/collections/maps/map10[1].jpg'); */
    background-color: orangered;
    /* font-size: 24px;
    text-shadow: 1px 1px white;
    font-weight: 800; */
  }
  
  #myTomagotchiPic {
    width: 300px;
    height: auto;

  }

  .metrics {
    font-style: bold;
    font-size: 25px;
    margin: 10px;
  }

  .metricButtons {
    margin: 10px;
  }

  #feed {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  #lights {
    width: 190px;
    height: 50px;
    font-size: 20px;
  }

  #play {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
  
  /* h1 {
    font-family: 'Condiment', cursive;
  }
  
  button {
    display: inline;
    margin: 12px;
  } */